#body {
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
}

.main_container {
  margin-left: 10%;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 2px solid #ddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ddd;
}

th {
  background-color: #b0adad;
}
 
.create_book {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 20%;
  gap: 24px;
  border: 2px solid  limegreen;
  padding: 16px;
  align-items: center;
}

.input_title {
  margin-left: 56px;
}

.input_author {
  margin-left: 42px;
}

.input_year {
  margin-left: 8px;
}

.actions {
  display: flex;
  gap: 32px;
}

.veiw_book {
  display: flex;
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  background: rgb(216, 205, 205);
  align-items: center;
  margin: 0 0 24px 0 ;
}

.book_app {
  margin-left: 24px;
  font-size: 24px;
  font-weight: 700;
}

.add_book {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 12px;
}

p {
  text-decoration: none;
  
}

.spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner::after{
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #ddd;
  border-top-color: aqua;
  border-radius: 50%;
  animation: loading_behaviour 0.75s ease infinite;
}

@keyframes loading_behaviour {
  from { transform: rotate(0turn) }
  to { transform: rotate(1turn) } 
}